body {
  background: #464646 url(background_2.jpg) no-repeat fixed center center;
  background-size: cover;
  justify-content: center;
  text-align: center;
}
.container {
  text-align: center;
  margin-top: 23px;
}
.calculator {
  display: inline-block;
  background-color: grey;
  border-radius: 53px;
  border: 4px solid rgb(63, 57, 57);
}
table {
  margin: auto;
}
input {
  font-size: 27px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid;
  background-color: #e9e5e3;
}
#screen {
  height: 50px;
  margin: 15px;
}
button {
  margin: 4px;
  font-size: 25px;
  width: 70px;
  height: 71px;
  background-color: lightyellow;
  border-radius: 10px;
}
.logo {
  display: flex;
  justify-content: center;
}
img {
  padding-top: 77px;
  margin: 20px;
  width: 50px;
  height: 50px;
}
